{% extends 'base.html' %}

{% block title %}
Início - Whair Studio
{% endblock %}

{% block content %}

<div class="container text-center my-5">
    
    <h1 class="display-4 mb-4">Bem-vindo ao Whair Studio</h1>

    <div class="image-window-container">
        <div class="image-window side-window" id="left-window">
            <img src="" alt="Side Image 1">
        </div>
        <div class="image-window center-window" id="center-window">
            <img src="" alt="Center Image">
        </div>
        <div class="image-window side-window" id="right-window">
            <img src="" alt="Side Image 2">
        </div>
    </div>
    <p class="lead my-4">
        Seu estilo, nossa paixão. Experimente os melhores serviços de corte de cabelo e estilo da cidade.
    </p>

    <div>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('main.products') }}" role="button">Nossos Produtos</a>
    </div>

    <script>
        const images = [
            "{{ url_for('static', filename='images/carrousel1.png') }}",
            "{{ url_for('static', filename='images/carrousel2.png') }}",
            "{{ url_for('static', filename='images/carrousel3.png') }}"
        ];
    </script>

</div>
<div class="row text-center mt-5">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/stylisy.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Expert Stylists">
        <h2>Estilistas especialistas</h2>
        <p>Nossos estilistas são profissionais treinados e dedicados a dar vida à sua visão com precisão e cuidado.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/products.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Quality Products">
        <h2>Produtos de alta qualidade</h2>
        <p>Usamos e vendemos apenas produtos da mais alta qualidade para garantir que seu cabelo permaneça saudável e vibrante.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/relaxing.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Relaxing Atmosphere">
        <h2>Atmosfera relaxante</h2>
        <p>Relaxe em nosso salão moderno e confortável. Nosso compromisso é proporcionar uma experiência de alto nível.</p>
    </div>
</div>

{% endblock %}