{% extends 'base.html' %}

{% block title %}
Home - Haircut Saloon
{% endblock %}

{% block content %}

<div class="container text-center my-5">
    
    <h1 class="display-4 mb-4">Welcome to Haircut Saloon</h1>

    <div class="image-window-container">
        <div class="image-window side-window" id="left-window">
            <img src="" alt="Side Image 1">
        </div>
        <div class="image-window center-window" id="center-window">
            <img src="" alt="Center Image">
        </div>
        <div class="image-window side-window" id="right-window">
            <img src="" alt="Side Image 2">
        </div>
    </div>
    <p class="lead my-4">
        Your style, our passion. Experience the best haircut and styling services in town.
    </p>

    <div>
        <a class="btn btn-primary btn-lg" href="#" role="button">Book Now</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('main.products') }}" role="button">Our Products</a>
    </div>

    <script>
        // Define the image URLs here where Jinja2 can process them
        const images = [
            "{{ url_for('static', filename='images/carrousel1.png') }}",
            "{{ url_for('static', filename='images/carrousel2.png') }}",
            "{{ url_for('static', filename='images/carrousel3.png') }}"
        ];
    </script>

</div>
<div class="row text-center mt-5">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/stylisy.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Expert Stylists">
        <h2>Expert Stylists</h2>
        <p>Our stylists are trained professionals dedicated to bringing your vision to life with precision and care.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/products.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Quality Products">
        <h2>Quality Products</h2>
        <p>We use and sell only the highest quality products to ensure your hair stays healthy and vibrant.</p>
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/relaxing.png') }}" class="img-fluid rounded mb-3" style="width: 180px; height: 180px; object-fit: cover;" alt="Relaxing Atmosphere">
        <h2>Relaxing Atmosphere</h2>
        <p>Sit back and relax in our modern and comfortable saloon. We are committed to providing a top-tier experience.</p>
    </div>
</div>

{% endblock %}